<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="h2 title">Kanchan Shirbhate</div>
            <p class="category text-white">Frontend Angular Developer</p>
            <a class="btn btn-primary"
              href="https://drive.google.com/file/d/1HSGLCcntOtoPEZbw__Wt4nN23gE5LUdL/view?usp=sharing" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>