<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2017</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Computer-Engineering</div>
            <h4 class="category">Pune Institute of Computer Technology
            </h4>
            <ul style="    line-height: 2.1;">
              <li> Completed Engineering with an average <b>72.2%</b></li>
              <li> 'Event Co-ordinator' of event named <b>INC'18(Impetus and Concepts)</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2011 - 2014</p>
            <div class="h5">Diploma</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Diploma in Computer Engineering
              <h4 class="category">Government Polytechnic, Amravati
              </h4>
              <ul>
                <li style="font-size: 14px;">Completed Engineering with an average<b> 90.53%</b></li>
                <li style="font-size: 14px;">Winner of Technical event named as :<b> B-Plan (Business Plan)</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row" style="padding-top: 2.5%;">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
              <h4 class="category">Holy Cross Convent School, Amravati
              </h4>
              <ul>
                <li>
                  Completed Secondary schooling with <b>90%</b>.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>